# VSCode stuff
.history
.devcontainer

# Python stuff
__pycache__

# ScrapMe subrepo stuff
app/scripts/*
!app/scripts/__init__.py
!app/scripts/FakePythonJobs.py
!app/scripts/Sample1.py
!app/scripts/Sample2.py

.env*
